name: Deploy on 'deploy' Commit

on:
  push:
    branches:
      - main

jobs:
  deploy:
    if: startsWith(github.event.head_commit.message, 'deploy')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm ci

      - name: Create .env.production from secret
        run: echo "VITE_BASE_API=${{ secrets.VITE_BASE_API }}" >> .env.production

      - name: Build project
        run: npm run build

      - name: Configure git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Deploy to GitHub Pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run deploy
